@font-face {
    font-family: RedHat;
    src: url("../asset/fonts/RedHatText-VariableFont_wght.ttf");
}

.dc-cart {
    margin: 0;
    background-color: #FFFFFF;
    width:  384px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 12px;
    padding: 24px;
}

.dc-cart h2 {
    margin: 0;
    margin-bottom: 24px;
    line-height: 31.75px;
    width: 155px;
    font-weight: 700;
    font-family: RedHat;
    color: #C73B0F;
}

.dc-cart-empty-placeholder {
    margin: 0;
    padding: 16px 0 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.dc-cart-empty-placeholder img {
    width: 128px;
    height: 128px;
}
.dc-cart-empty-placeholder p {
    width: auto;
    font-family: RedHat;
    font-weight: 600;
    line-height: 18.52px;
    text-align: center;
    color: #87635A;
}

.dc-cart-added-items {
    min-width: 336px;   
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.dc-cart-added-item {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 1px solid #F5EEEC;
}

.dc-cart-added-item:last-child{
    padding-bottom: 0;
    border-bottom: none;
}

.dc-cart-added-item-info {
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 8px;
}
.dc-cart-added-item-info h4 {
    margin: 0;
    font-family: RedHat;
    font-weight: 600;
    line-height: 18.52px;
    text-align: left;
}
.quantity-and-price {
    display: flex;
    gap: 8px;
}

.quantity-and-price h4{
    margin: 0;
    font-family: RedHat;
    font-weight: 400;
    line-height: 18.52px;
    text-align: left;
    color: #87635A;
}
.red{
    color: #C73B0F;
}

.solid {
    border-top: 1px solid #F5EEEC;
}
.dc-cart-added-item-button-remove {
    width: 20px;
    height: 20px;
    background-color: white;
    border: none;
}
.dc-cart-added-item-button-remove img {
    width: 10px;
    height: 10px;
    padding: 5px;
    position: relative;
    right: 5px;
    border: 1px solid #AD8A85;
    border-radius: 9999px;
}

.separator {
    width: auto;
    height: 1px;
    background: #F5EEEC;
}

.dc-cart-orderTotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dc-cart-orderTotal p {
    margin: 0;
    font-family: RedHat;
    font-weight: 400;
    line-height: 18.52px;
    text-align: left;
}

.dc-cart-orderTotal h2 {
    margin: 0;
    width: auto;
    font-family: RedHat;
    font-weight: 700;
    line-height: 31.75px;
    text-align: left;
    color: #260F08;

}

.dc-cart-carbon-neutral {
    border-radius: 8px;
    padding: 16px;
    gap: 24px;
    background-color: #FCF8F6;
}

.dc-cart-carbon-neutral-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.dc-cart-carbon-neutral-info img{
    margin: 0;
    width: 20px;
    height: 20px;
}

.dc-cart-carbon-neutral-info p {
    margin: 0;
    font-family: RedHat;
    font-weight: 400;
    line-height: 18.52px;
    text-align: left;
}

.bold {
    font-weight: 600;
}

.dc-cart-button-confirm {
    padding: 16px 24px 16px 24px;
    background-color: #C73B0F;
    border-radius: 999px;
    gap: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dc-cart-button-confirm h3 {
    margin: 0;
    font-family: RedHat;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.17px;
    text-align: left;
    color: white;
}