@font-face {
    font-family: RedHat;
    src: url("../asset/fonts/RedHatText-VariableFont_wght.ttf");
}

.dc-productList {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.dc-productList h1 {
    margin: 0;
    width: 176px;
    height: 48px;
    font-family: RedHat;
    color: #260F08;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
}

.dc-productList-list {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    gap: 24px;
}
